@model GroupDTO
@{
    string strTitle = "Група";
    ViewBag.Title = strTitle;
}
<div class="col-8 col-12-medium imp-medium">
    <div id="content">
        <section class="box article-list">
            <h2 class="icon fa-file-alt">
                @strTitle: @Model.GroupName
            </h2>
            <h4>
                Спеціальність: @Model.Speciality
            </h4>
            <h4>
                Курс: @Model.Course
            </h4>
        </section>
    </div>
</div>
